body {
    font-family: 'Cairo';
}

.width30{
    width:30%;
}
.float_right{
    float:  right !important;
}
.custom_img{
    width:150px;
    height: 150px;
}
.card_title_center{
    width: 100%;
    text-align: center !important;
}

/*********************************/

.dataTables_filter, .dataTables_length, .dt-buttons {
    float: left;
    vertical-align: middle;
    width: 30%;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

.dt-buttons {
    display: inline-block;
    text-align: right;
    width: 40%;
}

@media screen and (max-width: 767px) {
    .dataTables_filter, .dataTables_length, .dt-buttons {
        width: 100%;
        text-align: center;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
    }
}